<h1 class="mt-4">Usuarios</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container">
     <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
            {{ mensagemSucesso }}
        </div>

        <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
            {{ mensagemErro }}
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let login of logins">
                        <td>{{ login.id }}</td>
                        <td>{{ login.username }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>